body::after {
	content: '';
	background: linear-gradient(0deg, rgba(0, 82, 128, 0.8) 0%, rgba(0, 82, 128, 0.8) 100%);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	@media (max-width: $mobile) {
		padding: rem(24) rem(8);
	}
	@media (max-width: $mobile) {
		padding: rem(8) rem(4);
	}
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	display: flex;
	flex-direction: column;

	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;

	background-color: #fff;

	.lock & {
		visibility: visible;
	}
}

.on-board {
	&__content {
		overflow: hidden;
		width: rem(972);
		height: rem(600);

		@media (max-width: em(1280)) {
			width: rem(820);
		}

		@media (max-width: $tablet) {
			width: rem(640);
		}

		@media (max-width: $mobile) {
			width: 100%;
			height: auto;
		}

		border-radius: rem(16);
		background-color: #fff;
		box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(0, 0, 0, 0.02),
			0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
			0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
			0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
			0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
			0px 100px 80px 0px rgba(0, 0, 0, 0.07);
		padding: rem(80);
		@media (max-width: $tablet) {
			padding: rem(64) rem(48);
		}

		@media (max-width: $mobile) {
			padding: 0;
		}

		display: flex;
		flex-direction: column;
		gap: rem(32);
		justify-content: space-between;
	}

	&__slider {
		position: relative;
		overflow: visible !important;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}

		&::before {
			right: 100%;
		}

		&::after {
			left: 100%;
		}

		* {
			// min-width: 0;
		}
	}
}

.slider-board {
	&__top {
		@media (min-width: $tablet) {
			display: grid;
			gap: rem(40);
			grid-template-columns: rem(244) 1fr;
			align-items: center;
		}

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column-reverse;
			gap: rem(28);
		}

		@media (max-width: $mobile) {
			gap: rem(18);
			padding: rem(32) rem(32) 0;
		}

		@media (max-width: $mobileSmall) {
			padding: rem(16) rem(16) 0;
		}

		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	&__logo {
		width: rem(144);
		height: rem(27);

		img {
			display: block;
			max-width: 100%;
			object-fit: contain;
		}
	}

	&__picture-ibg {
		width: 100%;
		padding-bottom: 19%;
	}

	&__main {
		display: grid;
		gap: rem(40);
		grid-template-columns: rem(244) 1fr;
		align-items: flex-start;

		@media (max-width: $tablet) {
			gap: rem(28);
			grid-template-columns: 1fr;
			grid-auto-flow: row;
		}

		@media (max-width: $mobile) {
			gap: rem(24);
			padding: 0 rem(32);
		}

		@media (max-width: $mobileSmall) {
			padding: 0 rem(16);
		}
	}

	&__body {
	}

	&__swiper {
	}

	&__slide {
		&--overflow-visible {
			.slider-board__form {
				overflow: visible;
			}
		}
	}

	&__text-wrapper {
	}

	&__title {
		color: #111;
		font-size: rem(28);
		font-weight: 600;
		line-height: 128%;

		&:not(:last-child) {
			margin-bottom: rem(16);
			@media (max-width: $mobile) {
				margin-bottom: rem(8);
			}
		}
	}

	&__text {
		color: #111;
		font-size: rem(16);
		font-weight: 400;
		line-height: 125%;
	}

	&__form {
		max-height: rem(240);
		@media (max-width: $mobile) {
			max-height: rem(320);
		}

		overflow: scroll;
		padding-right: rem(6);
	}

	&__form-fields {
		> * {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__form-row {
		display: flex;
		gap: rem(16);
		align-items: center;

		> * {
			&:first-child {
				flex: 1 1 rem(380);
			}

			&:last-child {
				flex: 0 0 auto;
			}
		}
	}

	&__add {
		color: #005280;
		font-size: rem(14);
		font-weight: 400;
		line-height: 142%;
	}

	&__input {
		width: 100%;
	}

	&__employees {
		position: relative;
		width: 100%;
		padding: rem(24) rem(16) rem(16);
	}

	&__employees-label {
		position: absolute;
		z-index: 1;
		top: 0;
		left: rem(9);
		background-color: #fff;
		padding: 0 rem(7);
		transform: translateY(-50%);

		color: #6e6e6e;
		font-size: rem(14);
		font-weight: 400;
		line-height: 142%;
	}

	&__employees-inner {
	}

	&__employees-options {
		display: flex;
		gap: rem(16);
		flex-wrap: wrap;
	}

	&__controlls {
		@media (min-width: $tablet) {
			padding-left: rem(284);
		}

		display: flex;
		gap: rem(32);
		justify-content: space-between;

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
			gap: rem(8);
			padding: 0 rem(32) rem(32);
		}

		@media (max-width: $mobileSmall) {
			padding: 0 rem(16) rem(16);
		}
	}

	&__dots {
		display: flex;
		gap: rem(8);
		align-items: center;

		.swiper-pagination-bullet {
			width: rem(8);
			height: rem(8);
			border-radius: 50%;
			background-color: rgba(0, 82, 128, 0.3);
		}

		.swiper-pagination-bullet-active {
			background-color: #005280;
		}
	}

	&__buttons {
		display: flex;
		gap: rem(16);
		align-items: center;

		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	&__button-skip {
		flex: 1 1 auto;
		@media (min-width: $mobile) {
			width: rem(100);
		}
	}

	&__button-done {
		flex: 1 1 auto;
		@media (min-width: $mobile) {
			width: rem(100);
		}
	}
}

.delete-file {
	&__content {
		padding: rem(24) rem(28) rem(28);
		border-radius: rem(16);
		background-color: cl('white');
		border-radius: 16px;
		background: #fff;
		box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
			0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
			0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
	}

	&__top {
		position: relative;
		display: flex;
		gap: rem(60);

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__title {
		flex: 0 0 68%;
		color: cl('black');
		font-size: rem(20);
		font-weight: 600;
		line-height: 140%;
	}

	&__close {
		position: absolute;
		right: rem(-8);
		top: 0;
		width: rem(28);
		height: rem(28);

		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.2);
		}

		svg {
			width: rem(14);
			height: rem(14);
			fill: cl('accent');
		}
	}

	&__name {
		display: flex;
		gap: rem(12);
		align-items: center;

		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}

	&__ext-icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			flex: 0 0 rem(16);
			width: rem(16);
			height: rem(20);
		}
	}

	&__file-name {
		color: cl('black');
		font-size: rem(14);
		line-height: 142%;
	}

	&__actions {
		display: flex;
		gap: rem(16);
		align-items: center;
	}

	&__delete,
	&__cancel {
		flex: 1 1 auto;
	}
}

#files-gallery--pl {
	padding: 0 !important;
}

.files-gallery {
	&__content {
		position: relative;
		width: 100vw;
		height: 100dvh;
		overflow: hidden;

		min-width: 0;
		min-height: 0;

		* {
			min-width: 0;
			min-height: 0;
		}
	}

	&__close {
		position: absolute;
		z-index: 2;
		top: rem(28);
		right: rem(28);

		@media (max-width: $tablet) {
			top: rem(16);
			right: rem(16);
		}
	}

	&__slider-wrapper {
		height: 100%;

		display: grid;

		@media (min-width: $tablet) {
			padding: rem(28);
			gap: rem(16);
			grid-template-columns: auto 1fr;
		}

		@media (max-width: $tablet) {
			grid-template-rows: 1fr auto;
		}
	}

	&__slider-preview-wrapper {
		position: relative;

		@media (min-width: $tablet) {
			margin-right: rem(40);
			@include adaptiveValue('padding-left', 166, 48, 0, 1280, 992);
			@include adaptiveValue('padding-right', 166, 48, 0, 1280, 992);
		}

		@media (max-width: $tablet) {
			margin-top: rem(32);
			padding: rem(16);
		}
	}

	&__slider-thumb-wrapper {
		position: relative;
		padding: rem(32) 0;

		@media (max-width: $tablet) {
			padding: rem(8) rem(16);
			border-top: rem(1) solid cl('accent-4');
		}
	}

	&__slider-track {
	}
}

.slider-gallery {
	height: 100%;

	@media (max-width: $mobile) {
		padding: 24% 0;
	}

	@media (max-width: $mobileSmall) {
		padding: 48% 0;
	}

	&__slider-wrapper {
		pointer-events: auto;
	}

	&__swiper {
	}

	&__slide {
		pointer-events: auto;
	}

	&__slide-wrapper {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}

	&__controlls-wrapper {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__controlls {
		display: flex;
		gap: rem(36);
		justify-content: space-between;
		align-items: center;
		height: 100%;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__arrow-prev,
	&__arrow-next {
		pointer-events: auto;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;
		@include adaptiveValue('width', 166, 48, 0, 1280, 992);

		&:disabled {
			svg {
				stroke: cl('grey-8');
			}
		}

		svg {
			width: rem(24);
			height: rem(24);
			stroke: cl('accent');
			transition: stroke 0.3s ease;
		}
	}

	&__arrow-prev {
		transform: rotate(180deg);
	}
}

.slider-thumb-gallery {
	width: 100%;
	height: 100%;

	@media (max-width: $tablet) {
		overflow: visible !important;
	}

	&__slider-wrapper {
		pointer-events: auto;
	}

	&__swiper {
	}

	&__slide {
		cursor: pointer;
		pointer-events: auto;
		overflow: hidden;
		border-radius: rem(8);
		overflow: hidden;

		&.swiper-slide-thumb-active {
			border: rem(2) solid cl('black');
			padding: rem(2);

			@media (max-width: $mobile) {
				border: rem(1) solid cl('black');
				padding: rem(1);
			}
		}
	}

	&__slide-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		aspect-ratio: 1;
		border-radius: rem(8);
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__controlls {
		pointer-events: none;
		position: absolute;
		top: 0;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: rem(36);

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__arrow-prev,
	&__arrow-next {
		pointer-events: auto;
		display: flex;
		justify-content: center;
		align-items: center;

		&:disabled {
			svg {
				stroke: cl('grey-8');
			}
		}

		svg {
			width: rem(24);
			height: rem(24);
			stroke: cl('accent');
			transition: stroke 0.3s ease;
		}
	}

	&__arrow-prev {
		transform: rotate(-90deg);
	}

	&__arrow-next {
		transform: rotate(90deg);
	}
}
