.options {
	display: flex;
	// .options__item

	&__item {
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: em(5);
		}

		&--adapt {
			.options__label {
				display: flex;
				align-items: center;
				justify-content: space-between;

				padding: rem(12) rem(16);
				border-radius: rem(6);
				background-color: transparent;

				@media (min-width: $mobile) {
					padding: rem(8) rem(9);
				}

				span {
					color: #0d6293;
					font-size: rem(14);
					font-weight: 400;
					line-height: 142%;
				}

				svg {
					opacity: 0;
					visibility: hidden;
					width: rem(14);
					height: rem(14);
					fill: #12a960;
				}

				&::before {
					content: unset;
				}
			}

			.options__input {
				&:not(.select--adapt-desktop &) {
					@media (min-width: $mobile) {
						&:checked + .options__label {
							background-color: #d0e4f0 !important;
							color: #111;
						}
					}

					@media (max-width: $mobile) {
						&:checked + .options__label {
							svg {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}

				.select--adapt-desktop & {
					&:checked + .options__label {
						svg {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

			.options__text {
				color: #0d6293;
				font-size: rem(14);
				font-weight: 400;
				line-height: 142%;
			}
		}
	}
	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;

		&:focus-visible + .options__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked + .options__label .options__text {
			color: #111;
		}

		&:not(.select--adapt &) {
			&:checked + .options__label {
				background-color: #efefef;
			}
		}

		&:checked + .options__label:after {
			transform: scale(1);
		}
	}
	// .options__label
	&__label {
		cursor: pointer;
		border-radius: rem(4);
		background-color: #fff;
		padding: rem(4) rem(8);
	}

	&__text-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(12);

		.options__text {
			white-space: nowrap;
		}

		> svg {
			opacity: 1 !important;
			visibility: visible !important;
			flex: 0 0 rem(16);
			height: rem(20);
		}
	}

	// .options__text
	&__text {
		color: #005280;
		font-size: rem(14);
		font-weight: 400;
		line-height: 142%;
	}
}
