//Заголовки, общие БЭМ блоки и т.д.

.color-brown {
	color: cl('text-brown') !important;
	fill: cl('text-brown') !important;
}

.color-green {
	color: cl('text-green') !important;
	fill: cl('text-green') !important;
}

.color-blue {
	color: cl('text-blue') !important;
	fill: cl('text-blue') !important;
}

.color-red {
	color: cl('text-red') !important;
	fill: cl('text-red') !important;
}

.color-pink {
	color: cl('text-pink') !important;
	fill: cl('text-pink') !important;
}

.color-cold {
	color: cl('text-cold') !important;
	fill: cl('text-cold') !important;
}

.color-grey {
	color: cl('text-grey') !important;
	fill: cl('text-grey') !important;
}

.color-black {
	color: cl('black') !important;
}

.daterangepicker.show-calendar {
	&.open {
		@media (max-width: $mobileLow) {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			width: 100% !important;
			height: 100% !important;

			display: flex !important;
			flex-direction: column;
			justify-content: center;

			.drp-buttons {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.scrollbar {
	overflow: auto;

	&::-webkit-scrollbar {
		width: rem(6);
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: cl('accent', 0.3);
		border-radius: rem(12);
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			background-color: cl('accent', 0.8);
		}
	}
}